{% extends '@HatueySoftTicket/layout.html.twig' %}

{% block title 'ClasificadorEstado creation' %}

{% block tituloPagina %}
    <h1>ClasificadorEstado creation</h1>
{% endblock %}

{% block content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('clasificadorestado') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
