{% extends '@HatueySoftTicket/layout.html.twig' %}

{% block title 'Comentario creation' %}

{% block tituloPagina %}
    <h1>Comentario creation</h1>
{% endblock %}
{% block content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('comentario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
