{% extends '::base.html.twig' %}


{% block header %}{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block menuLateral %}
    {{ parent() }}
{% endblock %}

{% block tituloPagina %}
    <h1>Ticket edit</h1>
{% endblock %}

{% block content %}
    Área de Trabajo
{% endblock %}

{% block javascripts %}{% endblock javascripts %}
